* {margin:0;padding:0;box-sizing:border-box;font-family:"Ubuntu","Aller",sans-serif;}

body {
    background-color: black;
    color: white;
}

hr {
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
}

#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
#logo-wrapper * {
    padding: 1rem;
    margin: 10px;
}
#logo-inner {
    z-index: 9999;
}
#logo-text {
    font-size: 60px;
}
#links * {
    display: inline-block;
    padding: 16px;
}

#content-wrapper {
    width: 100%;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

article {
    padding: 32px 16px 16px 16px;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    font-weight: 300;
    color: #ccc;
}

p {
    margin: 1rem 0;
    line-height: 1.5;
}

img {
    max-width: 100%;
    padding: 16px;
}